/* 登录页面专有样式 */

/* 字体声明 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?tomleg');
    src: url('../fonts/icomoon.eot?tomleg#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?tomleg') format('truetype'),
        url('../fonts/icomoon.woff?tomleg') format('woff'),
        url('../fonts/icomoon.svg?tomleg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}
.login {
    position: relative;
    margin-top: 92px;
    float: left;
    width: 100%;
    height: 475px;
    background: url(../upload/login.png) no-repeat scroll center;
}

.login .login_Window {
    position: absolute;
    top: 54px;
    right: 100px;
    width: 378px;
    height: 363px;
    background-color: #fff;

}

.login .login_Window ul li {
    float: left;
    margin-left: 57px;
}

.login_Window_hd {
    margin-top: 23px;
    width: 303px;
    height: 27px;
}
.login_Window_Left {
    float: left;
    font-size: 18px;
    margin-left: 10px;
}

.login_Window_Left::after {
    border: solid 1px #ededed;
    content: "";
    margin-left: 61px;
}

.login_Window_Right {
    float: right;
    font-size: 18px;
    margin-right: 50px;
}

.login_Window_Right a {
    color: #c81623;
}
.login_Window ul li:nth-child(2){
    width: 273px;
    height: 25px;
    background-color: #fffdee;
    line-height: 21px;
    margin-top: 20px;
    padding-left: 10px;
    border: 2px solid #f5eecf;
}

.login_Window ul li input {
    float: left;
    /* border: 1px solid #4b4b4b; */
    height: 35px;
    width: 235px; 
    
}

/* .login_Window ul li input:active li{
    border: 2px solid #3aa2e4;

} */
.login_Window ul li:nth-child(3) i{
    width: 37px;
    text-align: center;
    /* height: 35px;  */
    float: left;
    font-size: 24px;
    font-family: 'icomoon';

    background-color: #cfcdcd;
}
.login_Window ul li:nth-child(3) {
    margin-top: 10px;
    border: 1px solid #bbbaba;
}

/* .login_Window ul li:nth-child(3):active{
    border: 1px solid #3aa2e4;
} */
.login_Window ul li:nth-child(3)::after{
    display: none;
}

.login_Window ul li:nth-child(4) i{
    width: 37px;
    text-align: center;
    /* height: 35px;  */
    float: left;
    font-size: 24px;
    font-family: 'icomoon';

    background-color: #cfcdcd;
}
.login_Window ul li:nth-child(4) {
    margin-top: 10px;
    border: 1px solid #bbbaba;
}
.login_Window ul li:nth-child(4)::after{
    display: none;
}
.login_Window ul li:nth-child(5) input {
    width: 13px;
    height: 13px;
    
}

.autoLogin {
    font-family: "宋体";
    line-height: 13px;
    margin-top: 20px;
}

.autoLogin a {
    font-weight: 700;
    margin-left: 159px;
    
}

.login_Window ul li:nth-child(6) input{
    width: 275px;
    height: 42px;
    margin-top: 20px;
    color: #ffff;
    background-color: #c81623;
}

.login_Window ul li:nth-child(7) i {
    font-family: 'icomoon';
    font-size: 25px;
    margin-right: 10px;
}
.login_Window ul li:nth-child(7){
    margin-top: 20px;
    width: 273px;
    height: 37px;
}
.login_Window ul li:nth-child(7) a {
    color: #1474af;
    font-size: 14px;
    margin-left: 70px;
}



/* 底部模块 开始 */

.mod-copyright {
    float: left;
    margin-top: 20px;
    /* margin-left: 150px; */
    width: 100%;
} 